* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: #1a1c20;
  color: #fff;
}

.msg-container,
.count-down-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 125px;
  text-transform: uppercase;
  font-family: serif;
}

.msg-container {
  display: none;
  transform: scale(1, 1);
  transition: all 0.5s ease-in-out;
  animation: animateScale 0.5s linear;
  text-align: center;
  font-weight: bold;
}

@keyframes animateScale {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes animateBorder {
  0% {
    border: 1px solid #fff;
  }
  100% {
    border: 20px solid #fff;
  }
}

.count-down-container {
  font-size: 350px;
  height: 500px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  border-radius: 50%;
  animation: animateBorder 1s linear infinite;
  transition: all 1s ease-in-out;
}
